.col-sm {
   margin: 25px;
   width: 250px;
   height: 350px;
   border-radius: 5px;
}

#buttonNew {
   border: 1px solid #999999;
   border-radius: 5px;
   margin-top: 5px;
}

#buttonNew button {
   width: 150px;
   outline: none;
}

h3 {
   margin: 0!important;
}