#navbar {
   margin-bottom: 0!important;
   border-radius: unset;
}

#navbar a {
   color: white!important;
}

#navbar a:hover {
   cursor: pointer;
}

#jumbotron {
   padding: 0!important;
   margin: 0!important;
   background-color: #f2f3f8!important;
   width: 100%;
   height: auto;
}

.jumbotron {
   background-color: white!important;
}