<nav class="navbar navbar-expand navbar-dark bg-primary" id="navbar" *ngIf="currentUser">
   <div class="navbar-nav" style="width: 100%; display: inline-block;">
      <!-- <a *ngIf="this.userRole === 'Pacijent'" class="nav-item nav-link" style="float: left;"
         [routerLink]="['/patients']">Početna</a> -->

      <a *ngIf="this.userRole === 'Doktor'" class="nav-item nav-link" style="float: left;"
         [routerLink]="['/doctors']">Lista pacijenata</a>

      <!-- <a *ngIf="this.userRole === 'Sestrica'" class="nav-item nav-link" style="float: left;"
         [routerLink]="['/nurses']">Termini</a> -->

      <!-- <a *ngIf="this.userRole === 'Farmaceut'" class="nav-item nav-link" style="float: left;"
         [routerLink]="['/pharmacy']">Recepti</a> -->

      <a *ngIf="this.userRole === 'Admin'" class="nav-item nav-link" style="float: left;"
         [routerLink]="['/register']">Početna</a>

      <a class="nav-item nav-link" style="float: right;" (click)="logout()">Odjava</a>
      <a class="nav-item nav-link" style="float: right;" [routerLink]="['help']"> Pomoć </a>
      <a class="nav-item nav-link" style="float: right;"> {{currentUser.firstName}} {{currentUser.lastName}} ({{this.userRole}})</a>

   </div>
</nav>


<!-- main app container -->
<div class="jumbotron" id="jumbotron">
   <div class="container">
      <div class="row" style="justify-content: center;">
         <alert></alert>
         <router-outlet></router-outlet>
      </div>
   </div>
</div>