<div style="margin-top: 100px;">
   <div style="width: 100%; text-align: center; margin-bottom: 25px;">
      <img src="../../../../assets/add-user.ico">
   </div>
   <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
         <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Ime pacijenta</mat-label>
            <input matInput type="text" formControlName="firstName"
               [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
               <div *ngIf="f.firstName.errors.required">Ime je obavezno</div>
            </div>
         </mat-form-field>
      </div>
      <div class="form-group">
         <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Prezime pacijenta</mat-label>
            <input matInput type="text" formControlName="lastName"
               [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
               <div *ngIf="f.lastName.errors.required">Prezime je obavezno</div>
            </div>
         </mat-form-field>
      </div>
      <div class="form-group">
         <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Korisničko ime</mat-label>
            <input matInput type="text" formControlName="username"
               [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
               <div *ngIf="f.username.errors.required">Korisničko ime je obavezno</div>
            </div>
         </mat-form-field>
      </div>
      <div class="form-group">
         <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Lozinka</mat-label>
            <input matInput type="password" formControlName="password"
               [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
               <div *ngIf="f.password.errors.required">Lozinka je obavezna</div>
            </div>
         </mat-form-field>
      </div>
      <div class="form-group">
         <div style="text-align: center;">
            <button [disabled]="loading" class="btn btn-primary">Registruj</button>
         </div>
         <img *ngIf="loading" class="pl-3"
            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>
   </form>
</div>